#titleBarDiv, #searchBarDiv {
    color: green;
    display: inline-block;
}

#searchBarDiv {
    float: right;
}

#nav {
    color: rgb(52, 52, 52);
}

.products {
    display: flex;
    justify-content: space-between;
}